@import '../../../style/_constants'

.pet__content
  display: grid
  margin: 5px 10px
  height: 92vh
  grid-gap: 10px
  grid-template-columns: max-content 1fr
  &-info
    display: grid
    margin: 0 !important
    width: 300px !important
    grid-template-rows: repeat(4, max-content)
    height: max-content
    .pet-photo
      max-width: 300px
      max-height: 400px
    .content
      align-content: center
      flex-grow: 0 !important
    .fields-top
      display: grid
      grid-gap: 5px
      grid-template-columns: 1fr 1fr max-content
      &::after
        display: none !important
    .fields-bottom
      display: grid
      grid-gap: 5px
      grid-template-columns: 1fr repeat(2, 60px)
      &::after
        display: none !important
    .field
      display: grid
      height: max-content
      grid-template-rows: repeat(2,max-content)
      // border-bottom: 1px solid #a2a2a2 !important
      span
        font-size: 15px !important
        &:first-child
          color: $second_dark_color
          font-weight: bold
        &:last-child
          padding-left: 5px
      &::after
        display: none !important
  &-data
    display: grid
    grid-template-rows: 1fr max-content 1fr
    grid-gap: 10px
    margin: 0 !important
    &__row
      display: grid
      grid-gap: 10px
      grid-template-rows: max-content 1fr
      &-header
        color: $second_dark_color
        display: grid
        align-items: center
        .ui.header
          color: $second_dark_color
          margin: 0
      .ui.segment
        margin: 0
      .cards
        // display: grid
        // grid-template-columns: repeat(auto-fit, 300px)
        height: 100%
        .card
          width: 260px !important
          .content
          .header
            color: $second_dark_color !important
          .description
            color: $dark_font !important
            // font-weight: bold
            padding-left: 10px
