.registry
  display: flex
  justify-content: center
  .registry_form
    padding: 40px
    background: white
    display: grid
    border-radius: 4px
    grid-template-rows: repeat(5, max-content)
    grid-gap: 10px
    align-items: center
    justify-content: center
    .btn_in
      display: flex
      justify-content: space-between
    .label_title
      color: black
      line-height: 1.2
      text-transform: uppercase
      text-align: center
      width: 100%
      display: block
      margin-bottom: 0px !important
      h1
        font-size: 36px
    .sex
      display: grid
      height: 30px
      margin-top: 2px
      align-content: center
      grid-gap: 10px
      grid-template-columns: repeat(2, max-content)
